body{
    font-family: Arial, sans-serif;
    margin: 50px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
label{
    margin-bottom: 5px;
}
input{
    padding: 5px;
    margin-bottom: 10px;
}
button{
    padding: 8px;
    background-color: #007bff;
    color:aliceblue;
    border: none;
    cursor: pointer;
}
.prediccion{
    margin-top: 20px;
}